In [51]:
import requests
import json
import pandas as pd

In [52]:
url='https://ergast.com/api/f1/2022/22/results.json'
response=requests.get(url)

In [53]:
content=json.loads(response.content)

In [54]:
list(range(1,23))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [55]:
df_results_2022=pd.DataFrame()
for race in list(range(1,23)):
 url='https://ergast.com/api/f1/2022/{}/results.json'
response=requests.get(url.format(race))
content=json.loads(response.content)
df_results_2022=df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

C:\Users\vania\AppData\Local\Temp\ipykernel_15600\369140589.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_results_2022=df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [56]:
df_results_2022['points']=df_results_2022.points.astype(int)

In [59]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

          points
position
1             25
2             18
3             15
4             12
5             10
6              9
7              6
8              4
9              2
10             1
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0