## Librerías

In [1]:
import requests
import json
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
url='https://ergast.com/api/f1/2022/22/results.json'
response=requests.get(url)

In [3]:
content=json.loads(response.content)

## Tabla de resultados 2022

In [4]:
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])

In [5]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

## Suma de puntos acumulados por conductor

In [6]:
df_results_2022['points']=df_results_2022.points.astype(int)

In [7]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x: x['driverId'])

In [8]:
df_results_2022.groupby(['Driver']).agg({'points':sum}).sort_values(by='points', ascending=False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

## Suma de puntos acumulados por Constructor

In [9]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x: x['constructorId'])

In [10]:
df_results_2022.groupby(['Constructor']).agg({'points':sum}).sort_values(by='points', ascending=False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

## Codigo para obtener todas las carreras de 2010 a la fecha

In [11]:
url='http://ergast.com/api/f1/2012.json'
response=requests.get(url)
response=requests.get(url.format(race))
content=json.loads(response.content)

In [12]:
pd.DataFrame(content['MRData']['RaceTable']['Races'])

,season,round,url,raceName,Circuit,date,time
0,2012,1,http://en.wikipedia.org/wiki/2012_Australian_G...,Australian Grand Prix,"{'circuitId': 'albert_park', 'url': 'http://en...",2012-03-18,06:00:00Z
1,2012,2,http://en.wikipedia.org/wiki/2012_Malaysian_Gr...,Malaysian Grand Prix,"{'circuitId': 'sepang', 'url': 'http://en.wiki...",2012-03-25,08:00:00Z
2,2012,3,http://en.wikipedia.org/wiki/2012_Chinese_Gran...,Chinese Grand Prix,"{'circuitId': 'shanghai', 'url': 'http://en.wi...",2012-04-15,07:00:00Z
3,2012,4,http://en.wikipedia.org/wiki/2012_Bahrain_Gran...,Bahrain Grand Prix,"{'circuitId': 'bahrain', 'url': 'http://en.wik...",2012-04-22,12:00:00Z
4,2012,5,http://en.wikipedia.org/wiki/2012_Spanish_Gran...,Spanish Grand Prix,"{'circuitId': 'catalunya', 'url': 'http://en.w...",2012-05-13,12:00:00Z
5,2012,6,http://en.wikipedia.org/wiki/2012_Monaco_Grand...,Monaco Grand Prix,"{'circuitId': 'monaco', 'url': 'http://en.wiki...",2012-05-27,12:00:00Z
6,2012,7,http://en.wikipedia.org/wiki/2012_Canadian_Gra...,Canadian Grand Prix,"{'circuitId': 'villeneuve', 'url': 'http://en....",2012-06-10,18:00:00Z
7,2012,8,http://en.wikipedia.org/wiki/2012_European_Gra...,European Grand Prix,"{'circuitId': 'valencia', 'url': 'http://en.wi...",2012-06-24,12:00:00Z
8,2012,9,http://en.wikipedia.org/wiki/2012_British_Gran...,British Grand Prix,"{'circuitId': 'silverstone', 'url': 'http://en...",2012-07-08,12:00:00Z
9,2012,10,http://en.wikipedia.org/wiki/2012_German_Grand...,German Grand Prix,"{'circuitId': 'hockenheimring', 'url': 'http:/...",2012-07-22,12:00:00Z
10,2012,11,http://en.wikipedia.org/wiki/2012_Hungarian_Gr...,Hungarian Grand Prix,"{'circuitId': 'hungaroring', 'url': 'http://en...",2012-07-29,12:00:00Z
11,2012,12,http://en.wikipedia.org/wiki/2012_Belgian_Gran...,Belgian Grand Prix,"{'circuitId': 'spa', 'url': 'http://en.wikiped...",2012-09-02,12:00:00Z
12,2012,13,http://en.wikipedia.org/wiki/2012_Italian_Gran...,Italian Grand Prix,"{'circuitId': 'monza', 'url': 'http://en.wikip...",2012-09-09,12:00:00Z
13,2012,14,http://en.wikipedia.org/wiki/2012_Singapore_Gr...,Singapore Grand Prix,"{'circuitId': 'marina_bay', 'url': 'http://en....",2012-09-23,12:00:00Z
14,2012,15,http://en.wikipedia.org/wiki/2012_Japanese_Gra...,Japanese Grand Prix,"{'circuitId': 'suzuka', 'url': 'http://en.wiki...",2012-10-07,06:00:00Z
15,2012,16,http://en.wikipedia.org/wiki/2012_Korean_Grand...,Korean Grand Prix,"{'circuitId': 'yeongam', 'url': 'http://en.wik...",2012-10-14,06:00:00Z
16,2012,17,http://en.wikipedia.org/wiki/2012_Indian_Grand...,Indian Grand Prix,"{'circuitId': 'buddh', 'url': 'http://en.wikip...",2012-10-28,09:30:00Z
17,2012,18,http://en.wikipedia.org/wiki/2012_Abu_Dhabi_Gr...,Abu Dhabi Grand Prix,"{'circuitId': 'yas_marina', 'url': 'http://en....",2012-11-04,13:00:00Z
18,2012,19,http://en.wikipedia.org/wiki/2012_United_State...,United States Grand Prix,"{'circuitId': 'americas', 'url': 'http://en.wi...",2012-11-18,19:00:00Z
19,2012,20,http://en.wikipedia.org/wiki/2012_Brazilian_Gr...,Brazilian Grand Prix,"{'circuitId': 'interlagos', 'url': 'http://en....",2012-11-25,16:00:00Z

## Tabla de races

In [13]:
races={'season':[],
       'round':[],
       'raceName':[],
       'circuitId':[],
       'lat':[],
       'long':[],
       'country':[],
       'date':[],
       'url':[]}

In [14]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['round'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(item['Circuit']['Location']['lat'])
        races['long'].append(item['Circuit']['Location']['long'])
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])

In [15]:
pd.DataFrame(races)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,1,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,2,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,3,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,4,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,5,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
254,2022,18,18,suzuka,34.8431,136.541,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
255,2022,19,19,americas,30.1328,-97.6411,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
256,2022,20,20,rodriguez,19.4042,-99.0907,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
257,2022,21,21,interlagos,-23.7036,-46.6997,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
258,2022,22,22,yas_marina,24.4672,54.6031,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

## Tabla de season

In [16]:
url='http://ergast.com/api/f1/seasons.json'
response=requests.get(url.format(2022))
content=json.loads(response.content)

In [17]:
seasons={
    'season':[],
    'url':[],
}

In [18]:
for item in content['MRData']['SeasonTable']['Seasons']:
    seasons['season'].append(int(item['season']))
    seasons['url'].append(item['url'])

In [19]:
pd.DataFrame(seasons)

    season                                                url
0     1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1     1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2     1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3     1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4     1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
5     1955  http://en.wikipedia.org/wiki/1955_Formula_One_...
6     1956  http://en.wikipedia.org/wiki/1956_Formula_One_...
7     1957  http://en.wikipedia.org/wiki/1957_Formula_One_...
8     1958  http://en.wikipedia.org/wiki/1958_Formula_One_...
9     1959  http://en.wikipedia.org/wiki/1959_Formula_One_...
10    1960  http://en.wikipedia.org/wiki/1960_Formula_One_...
11    1961  http://en.wikipedia.org/wiki/1961_Formula_One_...
12    1962  http://en.wikipedia.org/wiki/1962_Formula_One_...
13    1963  http://en.wikipedia.org/wiki/1963_Formula_One_...
14    1964  http://en.wikipedia.org/wiki/1964_Formula_One_...
15    1965  http://en.wikipedia.org/wiki/1965_Formula_One_...
16    1966  http://en.wikipedia.org/wiki/1966_Formula_One_...
17    1967  http://en.wikipedia.org/wiki/1967_Formula_One_...
18    1968  http://en.wikipedia.org/wiki/1968_Formula_One_...
19    1969  http://en.wikipedia.org/wiki/1969_Formula_One_...
20    1970  http://en.wikipedia.org/wiki/1970_Formula_One_...
21    1971  http://en.wikipedia.org/wiki/1971_Formula_One_...
22    1972  http://en.wikipedia.org/wiki/1972_Formula_One_...
23    1973  http://en.wikipedia.org/wiki/1973_Formula_One_...
24    1974  http://en.wikipedia.org/wiki/1974_Formula_One_...
25    1975  http://en.wikipedia.org/wiki/1975_Formula_One_...
26    1976  http://en.wikipedia.org/wiki/1976_Formula_One_...
27    1977  http://en.wikipedia.org/wiki/1977_Formula_One_...
28    1978  http://en.wikipedia.org/wiki/1978_Formula_One_...
29    1979  http://en.wikipedia.org/wiki/1979_Formula_One_...

## Tabla de drivers

In [20]:
drivers={
    'year':[],
    'driverId':[],
    'number':[],
    'code':[],
    'forename':[],
    'surname':[],
    'dob':[],
    'nationality':[],
    'url':[],
}

In [21]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/drivers.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['DriverTable']['Drivers']:
        drivers['year'].append(year)
        try:
            drivers['number'].append(int(item['permanentNumber']))
        except:
            drivers['number'].append(None)
        drivers['code'].append(item['code'])
        drivers['dob'].append(item['dateOfBirth'])
        drivers['driverId'].append(item['driverId'])
        drivers['forename'].append(item['givenName'])
        drivers['surname'].append(item['familyName'])
        drivers['nationality'].append(item['nationality'])
        drivers['url'].append(item['url'])    
drivers['driverRef']=np.arange(1,pd.DataFrame(drivers).shape[0]+1,1)

In [22]:
pd.DataFrame(drivers)

,year,driverId,number,code,forename,surname,dob,nationality,url,driverRef
0,2010,alguersuari,NaN,ALG,Jaime,Alguersuari,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari,1
1,2010,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,2
2,2010,barrichello,NaN,BAR,Rubens,Barrichello,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello,3
3,2010,buemi,NaN,BUE,Sébastien,Buemi,1988-10-31,Swiss,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi,4
4,2010,button,22.0,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button,5
...,...,...,...,...,...,...,...,...,...,...
299,2022,stroll,18.0,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll,300
300,2022,tsunoda,22.0,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda,301
301,2022,max_verstappen,33.0,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen,302
302,2022,vettel,5.0,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel,303
303,2022,zhou,24.0,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou,304

## Tabla de constructors

In [23]:
constructors={
    'year':[],
    'constructorId':[],
    'constructorRef':[],
    'name':[],
    'nationality':[],
    'url':[],
}

In [24]:
for year in range(2010,2023):
    url='http://ergast.com/api/f1/{}/constructors.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['ConstructorTable']['Constructors']:
        constructors['year'].append(year)
        constructors['constructorId'].append(item['constructorId'])
        constructors['name'].append(item['name'])
        constructors['nationality'].append(item['nationality'])
        constructors['url'].append(item['url'])
constructors['constructorRef']=np.arange(1,140,1)

In [25]:
pd.DataFrame(constructors)

,year,constructorId,constructorRef,name,nationality,url
0,2010,ferrari,1,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
1,2010,force_india,2,Force India,Indian,http://en.wikipedia.org/wiki/Racing_Point_Forc...
2,2010,hrt,3,HRT,Spanish,http://en.wikipedia.org/wiki/Hispania_Racing
3,2010,lotus_racing,4,Lotus,Malaysian,http://en.wikipedia.org/wiki/Lotus_Racing
4,2010,mclaren,5,McLaren,British,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...,...
134,2022,haas,135,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
135,2022,mclaren,136,McLaren,British,http://en.wikipedia.org/wiki/McLaren
136,2022,mercedes,137,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
137,2022,red_bull,138,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
138,2022,williams,139,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

## Tabla de circuits

In [26]:
circuits={
    'year':[],
    'circuitRef':[],
    'circuitId':[],
    'name':[],
    'country':[],
    'location':[],
    'lat':[],
    'lng':[],
    'url':[],
}

In [27]:
for year in range(2010,2023):
    url='http://ergast.com/api/f1/{}/circuits.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['CircuitTable']['Circuits']:
        circuits['year'].append(year)
        circuits['circuitId'].append(item['circuitId'])
        circuits['location'].append(item['Location']['locality'])
        circuits['name'].append(item['circuitName'])
        circuits['url'].append(item['url'])
        circuits['lat'].append(item['Location']['lat'])
        circuits['lng'].append(item['Location']['long'])
        circuits['country'].append(item['Location']['country'])        
circuits['circuitRef']=np.arange(1,256,1)

In [28]:
pd.DataFrame(circuits)

,year,circuitRef,circuitId,name,country,location,lat,lng,url
0,2010,1,albert_park,Albert Park Grand Prix Circuit,Australia,Melbourne,-37.8497,144.968,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2010,2,bahrain,Bahrain International Circuit,Bahrain,Sakhir,26.0325,50.5106,http://en.wikipedia.org/wiki/Bahrain_Internati...
2,2010,3,catalunya,Circuit de Barcelona-Catalunya,Spain,Montmeló,41.57,2.26111,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
3,2010,4,hockenheimring,Hockenheimring,Germany,Hockenheim,49.3278,8.56583,http://en.wikipedia.org/wiki/Hockenheimring
4,2010,5,hungaroring,Hungaroring,Hungary,Budapest,47.5789,19.2486,http://en.wikipedia.org/wiki/Hungaroring
...,...,...,...,...,...,...,...,...,...
250,2022,251,spa,Circuit de Spa-Francorchamps,Belgium,Spa,50.4372,5.97139,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...
251,2022,252,suzuka,Suzuka Circuit,Japan,Suzuka,34.8431,136.541,http://en.wikipedia.org/wiki/Suzuka_Circuit
252,2022,253,villeneuve,Circuit Gilles Villeneuve,Canada,Montreal,45.5,-73.5228,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...
253,2022,254,yas_marina,Yas Marina Circuit,UAE,Abu Dhabi,24.4672,54.6031,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
254,2022,255,zandvoort,Circuit Park Zandvoort,Netherlands,Zandvoort,52.3888,4.54092,http://en.wikipedia.org/wiki/Circuit_Zandvoort

## Tabla de qualifying

In [29]:
qualifying ={'year':[],
             'qualifyingId':[],
             'raceId':[],
             'driverId':[],
             'constructorId':[],
             'number':[],
             'position':[],
             'Q1':[],
             'Q2':[],
             'Q3':[]
            }

In [ ]:
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/qualifying.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
        qualifying['year'].append(year)
        qualifying['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        qualifying['driverId'].append(item['Driver']['driverId'])
        qualifying['constructorId'].append(item['Constructor']['constructorId'])
        qualifying['number'].append(int(item['number']))
        qualifying['position'].append(int(item['position']))
        qualifying['Q1'].append(item['Q1'])
        try:
            qualifying['Q2'].append(item['Q2'])
        except:
            qualifying['Q2'].append(None)
        try:
            qualifying['Q3'].append(item['Q3'])
        except:
            qualifying['Q3'].append(None)
    for item in content['MRData']['RaceTable']['Races'][1]['QualifyingResults']:
        qualifying['year'].append(year)
        #qualifying['qualifyingId'].append(item['qualifyingId'])
        qualifying['raceId'].append(content['MRData']['RaceTable']['Races'][1]['raceName'])
        qualifying['driverId'].append(item['Driver']['driverId'])
        qualifying['constructorId'].append(item['Constructor']['constructorId'])
        qualifying['number'].append(int(item['number']))
        qualifying['position'].append(int(item['position']))
        qualifying['Q1'].append(item['Q1'])
        try:
            qualifying['Q2'].append(item['Q2'])
        except:
            qualifying['Q2'].append(None)
        try:
            qualifying['Q3'].append(item['Q3'])
        except:
            qualifying['Q3'].append(None)
qualifying['qualifyingId']=np.arange(1,391,1)

In [ ]:
pd.DataFrame(qualifying)

## Tabla de status

In [ ]:
status = {
    'year':[],
    'statusId':[],
    'status':[],
}

In [ ]:
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/status.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['StatusTable']['Status']:
        status['year'].append(year)
        try:
            status['statusId'].append(int(item['statusId']))
        except:
            status['statusId'].append(None)
        try:
            status['status'].append(item['status'])
        except:
            status['status'].append(None)

In [ ]:
pd.DataFrame(status)

## Tabla de pitSpot

In [ ]:
pitStops = {'year':[],
            "raceId":[],
            'driverId':[], 
            'stop':[],
            'lap':[], 
            'time':[], 
            'duration':[]
           }

In [ ]:
for year in range(2010,2023):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/pitstops.json?limit=1000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    i=0 
    for j in links:
        try:
            response = requests.get(j)
            content=json.loads(response.content)
        except:
            print(f"Hay un error en {j}")
        try: 
            content['MRData']['RaceTable']['Races'][0]['PitStops']
            for item in content['MRData']['RaceTable']['Races'][0]['PitStops']:
                pitStops["raceId"].append(content['MRData']['RaceTable']['Races'][0]['round'])
                pitStops["year"].append(content['MRData']['RaceTable']['Races'][0]['season'])
                pitStops["driverId"].append(item['driverId'])
                pitStops["stop"].append(item['stop'])
                pitStops["lap"].append(item['lap'])
                pitStops["time"].append(item['time'])
                pitStops["duration"].append(item['duration'])
            
        except:
            print(f"Hay un error en {j}")

In [ ]:
pd.DataFrame(pitStops)

## Tabla de Results

In [ ]:
results = {'year':[],
           'resultsId':[], 
           'raceId':[],
           'driverId':[], 
           'constructorId':[],
           'number':[], 
           'grid':[],
           'position':[], 
           'positionText':[],
           'points':[],
           'laps':[], 
           'time':[], 
           'milliseconds':[],
           'fastestLap':[],
           'rank':[],
           'fastestLapTime':[],
           'statusId':[]
          }

In [ ]:
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/results.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in range(0,len(content['MRData']['RaceTable']['Races'])):
        for item2 in content['MRData']['RaceTable']['Races'][item]['Results']:
            results['year'].append(year)
            try:
               results['raceId'].append(content['MRData']['RaceTable']['Races'][item]['raceName'])
            except:
                results['raceId'].append(None)
            try:    
                results['driverId'].append(item2['Driver']['driverId'])
            except:
                results['driverId'].append(None)
            results['constructorId'].append(item2['Constructor']['constructorId'])
            results['number'].append(int(item2['number']))
            results['grid'].append(item2['grid'])
            results['position'].append(int(item2['position']))
            results['positionText'].append(item2['positionText'])
            results['points'].append(float(item2['points']))
            results['laps'].append(int(item2['laps']))
            try:
                results['time'].append(item2['Time']['time'])
            except:
                results['time'].append(None)
            try:
                results['fastestLap'].append(item2['FastestLap']['lap'])
            except:
                results['fastestLap'].append(None)
            try:
                results['milliseconds'].append(item2['Time']['millis'])
            except:
                results['milliseconds'].append(None)
            try:
                results['rank'].append(item2['FastestLap']['rank'])
            except:
                results['rank'].append(None)
            try:
                results['fastestLapTime'].append(item2['FastestLap']['Time']['time'])
            except:
                results['fastestLapTime'].append(None)
            results['statusId'].append(item2['status'])

In [ ]:
results['resultsId']=np.arange(1,5518,1)
pd.DataFrame(results)

## Tabla de sprintResults

In [ ]:
sprintResult ={'year':[],
               'sprintResultId':[],
               'raceId':[],
               'driverId':[],
               'constructorId':[],
               'number':[],
               'grid':[],
               'position':[],
               'positionText':[],
               'points':[],
               'laps':[],
               'time':[],
               'milliseconds':[],
               'fastestLap':[],
               'fastestLapTime':[],
               'statusId':[]
              }

In [ ]:
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/sprint.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    inicio=content['MRData']['RaceTable']
    for item in range(0,len(inicio['Races'])):
        for pivote in inicio['Races'][item]['SprintResults']:
            sprintResult['year'].append(year)
            sprintResult['raceId'].append(inicio['Races'][item]['raceName'])
            sprintResult['driverId'].append(pivote['Driver']['driverId'])
            sprintResult['constructorId'].append(pivote['Constructor']['constructorId'])
            sprintResult['number'].append(int(pivote['number']))
            sprintResult['grid'].append(pivote['grid'])
            try:
                sprintResult['position'].append(int(pivote['position']))
            except:
                sprintResult['position'].append(None)
            try:    
                sprintResult['positionText'].append((pivote['positionText']))
            except:
                sprintResult['positionText'].append(None)
            try:    
                sprintResult['points'].append(int(pivote['points']))
            except:
                sprintResult['points'].append(None)
            try:    
                sprintResult['laps'].append(int(pivote['laps']))
            except:
                sprintResult['laps'].append(None)
            try:
                sprintResult['time'].append(pivote['Time']['time'])
            except:
                sprintResult["time"].append(None)
            try:
                sprintResult['milliseconds'].append(pivote['Time']['millis'])
            except:
                sprintResult["milliseconds"].append(None)
            try:
                sprintResult['fastestLap'].append(int(pivote['FastestLap']['lap']))
            except:
                sprintResult["fastestLap"].append(None)
            try:
                sprintResult['fastestLapTime'].append(pivote['Time']['time'])
            except:
                sprintResult["fastestLapTime"].append(None)
            sprintResult['statusId'].append(pivote['status'])

In [ ]:
sprintResult['sprintResultId']=np.arange(1,121,1)
pd.DataFrame(sprintResult)

## Tabla de driverStandings

In [ ]:
driverStandings={"year":[],
                 "driverStandingsId":[],
                 "driverId":[],
                 "points":[],
                 "position":[],
                 "positionText":[],
                 "wins":[]
                }

In [ ]:
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/driverStandings.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    inicio=content['MRData']['StandingsTable']['StandingsLists']
    for item in range(0,len(inicio)):
        for item2 in content['MRData']['StandingsTable']['StandingsLists'][item]['DriverStandings']:
            driverStandings['year'].append(year)
            driverStandings['driverId'].append(item2['Driver']['driverId'])
            driverStandings['points'].append(item2['points'])
            driverStandings['position'].append(item2['position'])
            driverStandings['positionText'].append(item2['positionText'])
            driverStandings['wins'].append(item2['wins'])
driverStandings['driverStandingsId']=np.arange(1,305,1)
pd.DataFrame(driverStandings)

## Tabla de constructorResults

In [ ]:
constructorResults = {'year':[],
                      'constructorResultsId':[], 
                      'raceId':[], 
                      'constructorId':[],
                      'status':[]
                     }

In [ ]:
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/results.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in range(0,len(content['MRData']['RaceTable']['Races'])):
        for item2 in content['MRData']['RaceTable']['Races'][item]['Results']:
            constructorResults['year'].append(year)
            constructorResults['raceId'].append(content['MRData']['RaceTable']['Races'][item]['raceName'])
            constructorResults['constructorId'].append(item2['Constructor']['constructorId'])
            constructorResults['status'].append(item2['status'])
constructorResults['constructorResultsId']=np.arange(1,5518,1)
pd.DataFrame(constructorResults)

## Tabla de constructorStandings

In [ ]:
constructorStandings={'year':[],
                      'constructorStandingsId':[],
                      'constructorId':[],
                      'points':[],
                      'position':[],
                      'positionText':[],
                      'wins':[]
                     }

In [ ]:
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/constructorStandings.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    inicio=content['MRData']['StandingsTable']['StandingsLists']
    for item in range(0,len(inicio)):
        for item2 in content['MRData']['StandingsTable']['StandingsLists'][item]['ConstructorStandings']:
            constructorStandings['year'].append(year)
            #constructorStandings['raceId'].append(year)
            constructorStandings['constructorId'].append(item2['Constructor']['constructorId'])
            constructorStandings['points'].append(item2['points'])
            constructorStandings['position'].append(item2['position'])
            constructorStandings['positionText'].append(item2['positionText'])
            constructorStandings['wins'].append(item2['wins'])
constructorStandings['constructorStandingsId']=np.arange(1,140,1)
pd.DataFrame(constructorStandings)

## Tabla de LapTimes

In [ ]:
lapTimes={"year":[],
          "round":[],
          "raceId":[],
          "driverId":[],
          "lap":[],
          "position":[],
          "time":[]
         }

In [ ]:
for year in range(2010,2023):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/laps.json?limit=10000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    for j in links:
        print(j)
        response = requests.get(j)
        content=json.loads(response.content)
        for i in content['MRData']['RaceTable']["Races"][0]["Laps"]:
            for item in i['Timings']:
                try:
                    lapTimes["year"].append(content['MRData']['RaceTable']['Races'][0]['season'])                    
                except:
                    lapTimes["year"].append("")
                try:
                    lapTimes["round"].append(content['MRData']['RaceTable']['Races'][0]['round'])                    
                except:
                    lapTimes["round"].append("")
                try:
                    lapTimes["raceId"].append(content['MRData']['RaceTable']["Races"][0]['raceName'])
                except:
                    lapTimes["raceId"].append("")
                try:
                    lapTimes["driverId"].append(item['driverId'])
                except:
                    lapTimes["driverId"].append("")
                try:
                    lapTimes["lap"].append(i['number'])
                except:
                    lapTimes["lap"].append("")
                try:
                    lapTimes["position"].append(item['position'])
                except:
                    lapTimes["position"].append("")
                try:
                    lapTimes["time"].append(item['time'])
                except:
                    lapTimes["time"].append("")
                
lapTimess=pd.DataFrame.from_dict(lapTimes,orient='index')
lapTimess=lapTimess.transpose()

In [ ]:
lapTimess

### Ahora volveremos las tablas en cvs

In [ ]:
pd.DataFrame(races).to_csv('races.csv', index = False)

In [ ]:
pd.DataFrame(seasons).to_csv('season.csv', index = False)

In [ ]:
pd.DataFrame(drivers).to_csv('drivers.csv',index=False)

In [ ]:
pd.DataFrame(constructors).to_csv('constructors.csv',index=False)

In [ ]:
pd.DataFrame(circuits).to_csv('circuits.csv',index=False)

In [ ]:
pd.DataFrame(qualifying).to_csv('qualifying.csv',index=False)

In [ ]:
pd.DataFrame(qualifying).to_csv('status.csv',index=False)

In [ ]:
pd.DataFrame(pitStops).to_csv('pitStops.csv',index=False)

In [ ]:
pd.DataFrame(results).to_csv('results.csv',index=False)

In [ ]:
pd.DataFrame(sprintResult).to_csv('sprintResult',index=False)

In [ ]:
pd.DataFrame(driverStandings).to_csv('driverStandings.csv',index=False)

In [ ]:
pd.DataFrame(constructorResults).to_csv('constructorResults.csv',index=False)

In [ ]:
pd.DataFrame(constructorStandings).to_csv('constructorStandings.csv',index=False)

In [ ]:
pd.DataFrame(driverStandings).to_csv('driverStandings.csv',index=False)